@model WebASPPetProj.Models.TagCatCreate

@{
    ViewBag.Title = "CreateTag";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="padding-top:20px">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <h2>Create tag</h2>

                <div class="form-group">
                    <label for="TitleBox">Title:</label>
                    @Html.TextBoxFor(m => m.Name, new { @id = "TitleBox", @class = "form-control new-textarea", })
                </div>

                <div class="form-group">
                    <label for="MainText">Description for category:</label>
                    @Html.TextAreaFor(m => m.Description, new { @id = "MainText", @class = "form-control new-textarea", @rows = "12", @style = "min-height:300px" })
                </div>

                <div class="">
                    <input type="submit" value="Send" class="btn btn-block btn-success" />

                </div>
            </div>
        </div>



    </div>
}

