body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.top-buffer {
    padding-top: 30px;
}

.buffer-btn {
    padding-top: 10px;
}

.padding-left-0 {
    padding-left: 0;
}

.info {
    min-width: 100px;
}
.new-textarea {
    max-width: 100%;
    min-width: 100%;
}
.l-r-buffer{
    padding-left:30px;
    padding-right:30px;
}

.Posts-view {
    max-width: 90%;
    margin-top: 20px;
    background-color: #f4f4f4;
    border: 1px solid #d3d3d3;
    border-radius:5px;
    padding-bottom:5px;
}
    .Posts-view .post-title{
        padding-top:10px;
        padding-bottom:10px;
    } 
    .Posts-view .post-title a {
        padding-left: 40px;
        color: #0a0842;
    }
    .Posts-view .post-content {
        background-color: #e0e0e0;
        padding: 20px;
    }
        .Posts-view .post-footer a {
            color: #0a0842;
        }
.Category-list li{
    background-color: #f4f4f4
}
    .Category-list a {
        color: #0a0842;
    }
    .Category-list li:hover {
        background-color: #e0e0e0;
    }
